{% extends 'base.jinja' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        form {
            background: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        button:hover {
            opacity: 0.8;
        }
        #login {
            position: absolute;
            top: 15%; /* 控制垂直位置，百分比值可以根据需要调整 */
            left: 50%; /* 水平居中 */
            transform: translate(-50%, -50%); /* 确保完全居中 */
            margin-top: 10px; /* 修正了单位问题 */
            margin-bottom: 5px; /* 修正了单位问题 */
        }
    </style>

    <h1 id="login">Login</h1>
    <form onsubmit="login(event)">
        <p id="usernameLabel">Username</p>
        <input id="username" type="text" autocomplete="username"/>
        <p id="passwordLabel">Password</p>
        <input id="password" type="password" autocomplete="current-password"/>
        <button type="submit">Login</button>
    </form>

    <script>
        async function login(event) {
            event.preventDefault(); // Prevent the default form submit action
            let loginURL = "{{ url_for('login_user') }}";

            try {
                let res = await axios.post(loginURL, {
                    username: document.getElementById('username').value,
                    password: document.getElementById('password').value
                });

                if (!isValidURL(res.data)) {
                    alert(res.data);
                } else {
                    window.location.href = res.data; // Use location.href for redirects
                }
            } catch (error) {
                console.error('Login error:', error);
                alert('Login failed!');
            }
        }

        function isValidURL(string) {
            return string.startsWith('/'); // Simplified check for a relative URL
        }
    </script>
{% endblock %}
