{% extends 'base.jinja' %}

{% block content %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(to right, #6e6e6e, #5036a4);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    form {
        background: white;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type="text"], input[type="password"] {
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        width: 100%;
        padding: 15px;
        margin: 10px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        background-color: #4029a0;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        margin-top: 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        transition: 0.3s;
        border-radius: 20px;
    }
    button:hover {
        opacity: 0.75;
        transform: scale(1.02);
        transition: 0.3s;
    }
    button:active {
        transform: scale(0.97);
        transition: 0.3s;
        opacity: 1;
    }
    h1 {
        color: white;
        margin-bottom: 20px; /* 为标题和表单之间增加一些间距 */
    }
</style>

<div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
    <h1>Sign Up</h1>
    <form onsubmit="signup(event)">
        <p>Username</p>
        <input type="text" id="username" class="username"/>
        <p>Password</p>
        <input type="password" id="password" class="password"/>
        <button type="submit">Sign up</button>
    </form>
</div>

<script>
    function isValidURL(string) {
        return string.length > 0 && string.startsWith("/");
    }

    function isValidPassword(password) {
        const regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
        return regex.test(password);
    }

    function isValidUsername(username) {
        const regex = /^[a-zA-Z0-9_]{1,9}$/;
        return regex.test(username);
    }

    async function signup(event) {
        event.preventDefault(); 

        const username = $("#username").val();
        const password = $("#password").val();

        if (!isValidUsername(username)) {
            alert("The username must be fewer than 10 characters and can only contain letters, numbers, and underscores.");
            return;
        }

        if (!isValidPassword(password)) {
            alert("Password must have a letter, number and at least 8 characters.");
            return;
        }

        let signupURL = "{{ url_for('signup_user') }}";

        try {
            let res = await axios.post(signupURL, {
                username: username,
                password: password
            });

            if (!isValidURL(res.data)) {
                alert(res.data);
                return;
            }
            window.location.href = res.data;
        } catch (error) {
            alert("Signup failed: " + error);
        }
    }
</script>

{% endblock %}

